.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.attributes{
  /*background: linear-gradient(to bottom, #dcc2cb, #b4908f);*/
  background-color: #B279A7;
  /*background-image: linear-gradient(to right, #B279A7 0%, #a5a4cb 74%);*/
  color: #FFFFFF;
  font-family: 'Mate', serif;
  font-size: '32px';
  font-weight: 'normal' ;
  height:100vh;
}
